html{
    font-size: 100%;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family:'BIZ+UDPGothic', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.slider-frame{
    overflow:hidden;
    height: 50vh;
    width: 100%;
}
@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left:2400x;}
    50% {left:2400px;}
    60% {left:1200px;}
    70% {left:1200px;}
    80% {left:0px;}
    90% {left:0px;}
    100% {left:0px;}
}
.slide-images{
    width: 3600px;
    height: 50vh;
    margin:0 0 0 -2400px;
    position: relative;
    -webkit-animation-name:slide_animation;
    -webkit-animation-duration:20s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}
.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
.fullscreen-bg h1{
    color:floralwhite;
    font-size: 70px;
    font-weight:900;
    margin: 10px 0px 0px 20px;
}
.devletter h2{
    font-size: 25px;
    padding: 20px 0;
    font-weight: 300;
    text-align: center;
    margin: 0px 70px;
}
.devletter h3{
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}
.content{
    width: 100%;
    padding: 30px 0;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('tsunami.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content h4{
    font-size: 50px;
    font-weight: 600;
    color:floralwhite;
    text-transform: uppercase;
    margin: auto 40px;
    text-align: center;
}
.content h5{
    height: auto;
    margin: 20px 40px;
    color:floralwhite;
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
}
