body{
    text-align: center;
    margin: 50px;
    font-size: medium;
}
img{
  height: 300px;
  width: auto;
}
ol{
    display: flex;
    text-align: center;
}
li{
    flex:1;
    background:white;
    height: 200 px;
}
h2{
    color: blue;
}
/*a :hover{
    color: lightred;
    padding:15px;
}*/
.first{
    background-color:darkblue;
    margin-top:0px;
}
