body{
    text-align: center;
    margin: auto;
}
img{
  height: 300px;
  width: auto;
}
ol{
    display: flex;
    text-align: center;
}
li{
    flex:1;
    background:yellow;
    border: 3px black;
    height: 200 px;
}
